html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: 50px;
}

#map {
  width: auto;
  height: 80%;
}

.navbar {
  background-color: #FFFFFF;
  border: none;
}

.navbar-inverse .navbar-brand {
  color: #000000;
}

.navbar-inverse .navbar-brand:hover {
  color: #555555;
}