html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: 50px;
}

input {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

#map {
  width: auto;
  height: 80%;
}

#badQuery, #goodQuery {
  display: none;
}

.navbar {
  background-color: #FFFFFF;
  border: none;
}

.container-fluid {
  display: flex;
}

.navbar-header {
  display: flex;
}

.navbar-inverse .navbar-brand {
  color: #000000;
  font-size: 24px;
}

.navbar-inverse .navbar-brand:hover {
  color: #555555;
}

.dateSelect { 
  text-align: center;
}

.alert {
  margin: 0 auto;
  width: 500px;
}